/* Fade-in animation for elements */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
    /* Cite: https://cssgradient.io/gradient-backgrounds/ */
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow-x: hidden;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    margin: 1%;
    animation: fadeInAnimation 3s ease 1 both;
}

.links {
    margin-left: auto;
    background-color: black;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 5%;
    padding: 20px 30px;
}
/*Changes the default link in html to regular and changes color to white*/
a {
    color: white;
    text-decoration: none;
}

.links:hover, .link:hover  {
    background-color: red;
    transform: translateY(-4px);
}

.title {
    font-size: 25px;
}

.content {
    font-size: medium;
    display: flex;
    flex-direction: row;
    margin: 5% 5% 5% 5%;
    animation: fadeInAnimation 3s ease 1 backwards;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 5% 5% 5%;
    margin: 1% 5%;
    margin-left: 20%;
}

.sideImages {
    display: flex;
    flex: row;
}

.me {
    height: 50%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    /* Padding added to .me and not .pc bc its on top */
    padding-bottom: 5px; 
    animation: fadeInAnimation 12s ease 1 forwards;

}

.pc {
    height: 50%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    animation: fadeInAnimation 18s ease 1 forwards;

}

.gist, table, .gist-meta, .gist-file{
   
    padding-right:5%;
    animation: fadeInAnimation 16s ease 1 forwards;
}

@media (max-width: 900px) {
    /* If on mobile removes the table from GitHub for sizing ease */
    .gist table{
        display: none;
    }
    .gist-meta {
    animation: fadeInAnimation 20s ease 1 forwards;
    border-radius: 10px;
    }


}
