@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
        transform: translate(0, 0) scale(0.5);
      }
      50% {
        transform: translate(100vw, 100vh) scale(1);
      }
      100% {
        transform: translate(0, 0) scale(0.5);
      }
}

#floating-svg {
    animation: float 30s infinite ease-in-out;
    z-index: -1;
}

